@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('idroid.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    font-weight: 150px;
    font-family: var(--fonte-destaque);
    font-size: 1em;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding-top: 50px;

}

header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.226);
    font-weight: normal;
    
}

header > p {
    max-width: 600px;
    padding: 0px 10px 25px 10px;
    font-family: var(--fonte-padrao);
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.192);
    font-size: 1.5em;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.295);
       
}

nav > a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    
}

nav > a:hover {
    color: var(--cor3);
    
}

main {
    min-width: 300px;
    max-width: 1000px;
    font-size: 1em;
    margin: auto;
    text-align: justify;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    padding: 20px;

}

main p {
    text-indent: 20px;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    text-align: justify;
    line-height: 2em;
    margin: 10px 0px;

    
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    text-indent: 8px;
    
}

main h2 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: 1.3em;
    text-indent: 8px;

}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

main img {
    width: 100%;

}

main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;

}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    text-align: justify;
    padding: 10px;
    border-radius: 12px;

}

aside h3 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    border-radius: 12px;
    margin: -27px -27px 0px -27px;
}

aside > ul {

    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    text-align: center;
    font-size: 0,8em;
    background-color: var(--cor4);
    color: white;
    padding: 7px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1)
}


